<!--================ Começo do banner =================-->
    <section class="hero-banner">
      <div class="container">
        <div class="row no-gutters align-items-center pt-60px">
          <div class="col-5 d-none d-sm-block">
            <div class="hero-banner__img">
              <img class="img-fluid" src="https://i.picsum.photos/id/1042/500/200.jpg" alt="">
            </div>
          </div>
          <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
            <div class="hero-banner__content">
              <h4>Essa é a</h4>
              <h1>Astroloja</h1>
              <p>A sua melhor plataforma de encontrar e oferecer serviços espirituais</p>
              <a class="button button-hero" href="#">Procure serviços</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Hero banner start =================-->

<div class="container text-center"><h1>Mais Vendidos</h1></div>
  <div class="flex-container">
      <% @services.each do |service| %>
          <div class="card-trip">
            <img src="https://i.picsum.photos/id/1042/500/200.jpg" />
            <div class="card-trip-infos">
              <div>
                <h2><%= link_to service.name, service_path(service) %></h2>
                <p><%=service.description %></p>
              </div>
              <h2 class="card-trip-pricing"><%= service.price %></h2>
            </div>
          </div>
      <% end %>
  </div>

<div class="flex-container">
    <% @services.each do |service| %>
        <div class="card-trip">
          <img src="https://i.picsum.photos/id/1042/500/200.jpg" />
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to service.name, service_path(service) %></h2>
              <p><%=service.description %></p>
            </div>
            <h2 class="card-trip-pricing"><%= service.price %></h2>
          </div>
        </div>
    <% end %>
</div>
