<div class="product_image_area">
    <div class="container">
      <div class="row s_product_inner">
        <div class="col-lg-6">
          <div class="owl-carousel owl-theme s_Product_carousel">
            <div class="single-prd-item">
              <% if @service.photo.attached? %>
                <%= cl_image_tag @service.photo.key, height: 300, width: 400, crop: :fill %>
              <% else %>
                <%= cl_image_tag "https://i.picsum.photos/id/1042/400/400.jpg", height: 400, width: 400, crop: :fill %>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-1">
          <div class="s_product_text">
            <h3><%= @service.name %></h3>
            <h2>R$ <%= @service.price %></h2>
            <ul class="list">
              <li><p>Category : <%= link_to @service.category.name, services_path(category: @service.category) %></p></li>
            </ul>
            <p><%= @service.description %></p>
            <% unless current_user == @service.user %>
              <button type="button" class="btn btn-outline-dark"><%= link_to 'Buy', new_service_order_path(@service) %></button>
            <% end %>
          </div>
          <div class="card_area d-flex align-items-center">
            <h4 class="card-trip-pricing">
              <% if current_user.profile_photo.attached?  %>
                <div class="d-flex justify-content-center mt-5">
                  <%= cl_image_tag current_user.profile_photo.key, height: 100, width: 100, crop: :fill, class: 'rounded-circle mx-auto' %>
                </div>
              <% else %>
                  <%= cl_image_tag "https://i.picsum.photos/id/1042/400/400.jpg", height: 100, width: 100, crop: :fill, class: 'rounded-circle mx-auto' %>
              <% end %>
              <%= @service.user.name %></h4>
            <p class="text-center"><%= @service.city %> - <%= @service.state.name %></p>
          </div>
          </div>
        </div>

        <% if policy(@service).edit? %>

          <p><%= link_to 'Edit this service', edit_service_path(@service) %></p>
          <p><%= link_to 'Remove this service', service_path, method: :delete %></p>
        <% end %>
        <p><%= link_to '↩️ Back to shop', services_path %></p>
      </div>
    </div>
  </div>
<!--================Product Description Area =================-->
  <section class="product_description_area">
    <div class="container">
      <ul class="nav nav-tabs" id="myTab">
        <li class="nav-item">
          <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
           aria-selected="false">Reviews</a>
        </li>
      </ul>
      <div class="review_item reply">
        <div class="media">
          <div class="d-flex">
            <img src="img/product/review-2.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
    <h2>
      <%= pluralize @service.reviews.size, "review" %>
    </h2>
    <% if @service.reviews.blank? %>
      Seja o primeiro a escrever um review para <%= @service.user.name %>
    <% else %>
      <% @service.reviews.each do |review| %>
         <%= render 'reviews/show', review: review %>
      <% end %>
    <% end %>
    </div>
      <%= render 'reviews/form', service: @service, review: @review %>
    </div>
  </div>
</div>
