<div class="container">
  <div class="row">
    <div id="services_show" class="col-sm-4">
      <% if @service.photo.attached? %>
        <%= cl_image_tag @service.photo.key, crop: :fill %>
      <% else %>
        <%= cl_image_tag "https://i.picsum.photos/id/1042/500/200.jpg", crop: :fill %>
      <% end %>
    </div>
    <div id="service_content" class="col-sm-6">
      <div class="service-title">
       <h1 class="text-center"><%= @service.name %></h1>
      </div>
        <p class="text-center"><%= @service.description %></p>
        <h2 class="card-trip-pricing">R$ <%= @service.price %></h2>
        <p class="text-center"><%= @service.category.name %></p>
    </div>
  </div>

  <div class="notification">
    <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm" />
    <div class="notification-content">
      <h2 class="text-center"><%= @service.user.name %></h2>
      <p class="text-center"><%= @service.city %> - <%= @service.state.name %></p>
    </div>
  </div>

    <% if policy(@service).edit? %>
      <p><%= link_to 'Edit this service', edit_service_path(@service) %></p>
      <p><%= link_to 'Remove this service', service_path, method: :delete %></p>
    <% end %>
    <p><%= link_to '↩️ Back to shop', services_path %></p>
</div>

