<div id="title-page" class="text-center">
  <h2>Minhas compras</h2>
    <div id="product-container" class="container">

    <% @orders.each do |order|  %>
          <div id="table-orders" class="card text-white bg-light mb-3">
            <table class="table">
              <thead class="thead-dark">
                  <tr>
                    <th scope="col"><%= order.service.name %></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><%= order.service.description %></td>
                  </tr>
              </tbody>
            </table>
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Informações do pedido</th>
                    <th scope="col">Endereço do Vendedor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Order number: <%= order.service.id %></td>
                    <td>Estado: <%= order.service.state.name %></td>
                  </tr>
                    <tr>
                      <td>Data: <%= order.ordered_at %></td>
                      <td>Cidade: <%= order.service.city %></td>
                    </tr>
                  <tr>
                    <td>Total: R$ <%= order.service.price %></td>
                    <td></td>
                  </tr>
                </tbody>
              </div>
            </table>
          </div>
    <% end %>
</div>
