<h1>Service description</h1>

<div class="container">
  <h1 class="text-center"><%= @service.name %></h1>
  <p class="text-center"><%= @service.description %></p>
  <h2 class="card-trip-pricing"><%= @service.price %></h2>
  <p class="text-center"><%= @service.city %> - <%= @service.state.name %></p>
    <% if policy(@service).edit? %>
      <p><%= button_to 'Buy', service_orders_path %></p>
    <% end %>
<p><%= link_to '↩️ Cancel', service_path(@service) %></p>

</div>
